@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.eot");
  src: url("../fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("../fonts/Shabnam.woff2") format("woff2"), url("../fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam-Bold.eot");
  src: url("../fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Shabnam-Bold.woff2") format("woff2"), url("../fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam-Thin.eot");
  src: url("../fonts/Shabnam-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Shabnam-Thin.woff2") format("woff2"), url("../fonts/Shabnam-Thin.woff") format("woff"), url("../fonts/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam-Light.eot");
  src: url("../fonts/Shabnam-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Shabnam-Light.woff2") format("woff2"), url("../fonts/Shabnam-Light.woff") format("woff"), url("../fonts/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam-Medium.eot");
  src: url("../fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Shabnam-Medium.woff2") format("woff2"), url("../fonts/Shabnam-Medium.woff") format("woff"), url("../fonts/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}
* {
  font-family: Shabnam;
}

body {
  background-color: #e6ddc4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23f0e9d2' fill-opacity='0.62' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  font-family: Shabnam;
}

.btn {
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  min-width: 64px;
  padding: 10px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #e6ddc4;
  background-color: #678983;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.btn:hover {
  background-color: #181d31;
}

.container {
  width: min(90%, 700px);
  margin-inline: auto;
}

/*# sourceMappingURL=main.css.map */
