@use "colors";
@use "typography" as tp;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   gap: 0.5rem;

  &__title {
    font-size: clamp(8rem, 20vw, 12rem);
    margin-block: 0;
    color: colors.$accent;
  }

  &__text {
    font-size: tp.$lg;
    color: colors.$secondary;
    margin: 0 auto 2rem auto;
  }
}
